body {
  padding: 0px;
}

#stavke-naslov{
  text-align: center;
  padding: 10px 0;
}

#btn-otkazi{
  float: right;
}

.selected{
  background-color: burlywood;
}
#pdf{
  border: 1px solid burlywood;
  background-color: white;
  color: black;
  padding: 8px 20px;
  text-decoration: none;
}
